/* All */

body {
  font-family: "Raleway", sans-serif;
}

h1,
h2,
h3 {
  font-weight: 400;
}

a {
  text-decoration: none;
  color: rgb(97, 97, 97);
  transition: 0.5s;
}

nav a:hover,
footer a:hover {
  background-color: rgba(0, 0, 0, 0.507);
  color: white;
}

.boxShadow {
  -webkit-box-shadow: 0px 0px 32px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 32px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 32px -5px rgba(0, 0, 0, 0.75);
}

.textShadow {
  text-shadow: 1px 1px black;
}

.thinBorder {
  border: 1px solid rgba(0, 0, 0, 0.24);
}

.lineRight {
  border-right: 1px solid black;
}

.cssDisplay {
  display: inline-flex;
  flex-direction: column;
  background-color: #ffdba277;
  padding: 5px;
}

.cssDisplay p {
  white-space: pre;
  margin: 7px;
}

/* Index */

.pageContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 20% 1fr 10%;
  gap: 1px 1px;
  height: 98vh;
}

header {
  grid-column: 1 / 4;
  grid-row: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header h1 {
  font-size: 1.8em;
  color: rgb(97, 97, 97);
  border-bottom: 3px solid #ffcaa2;
  padding-bottom: 4px;
  font-weight: 300;
}

header a {
  font-size: 1.2em;
}

header a:nth-child(2) {
  padding: 0px 6px;
  margin: 0px 4px;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.mainContent {
  grid-column: 1/3;
  grid-row: 2/3;
  margin-left: 6%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(/imgs/20191110_130743.jpg);
  background-position: center;
  background-size: cover;
  -webkit-box-shadow: -1px 1px 49px 2px rgba(117, 117, 117, 1);
  -moz-box-shadow: -1px 1px 49px 2px rgba(117, 117, 117, 1);
  box-shadow: -1px 1px 49px 2px rgba(117, 117, 117, 1);
  color: white;
  text-shadow: 3px 3px 2px black;
}

.mcText {
  background-color: rgba(134, 134, 134, 0.637);
  padding: 35px;
  font-size: 25px;
  color: white;
  text-shadow: 3px 3px 2px black;
  text-align: center;
}

.mcText h1 {
  padding-bottom: 10px;
  border-bottom: 4px solid #ffcaa2;
}

.rightBar {
  font-size: 1.2em;
  grid-column: 3/4;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blogLink {
  margin-top: 4px;
  text-align: center;
  padding: 0px 12px;
  transition: 0.2s;
  border-bottom: 2px solid black;
}

.blogLink a:hover {
  color: #ffa25b;
}

footer {
  margin-top: 20px;
  grid-column: 1/4;
  grid-row: 3/4;
  display: flex;
  justify-content: center;
}

.blogListMini {
  display: none;
}

/* blog-index */

.middleBar {
  font-size: 1.3em;
  grid-column: 2/3;
  grid-row: 2/3;
  text-align: center;
  justify-content: center;
  border-radius: 20px;
}

.middleBar h1 {
  padding-bottom: 7px;
  margin: auto;
  width: 80%;
  border-bottom: 2px solid black;
}

.blogLinkTame {
  border-bottom: 2px solid black;
  transition: 0.8s;
  padding-top: 8px;
}

.blogLinkTame:hover a {
  color: #ffa25b;
}

/* Blog Skele */

.pageContainerMid {
  display: grid;
  grid-template-columns: 20% 1fr 20%;
  grid-template-rows: 20% 1fr 10%;
  gap: 1px 1px;
  height: 98vh;
}

.blogContent {
  font-size: 1.2em;
  grid-column: 2/3;
  grid-row: 2/3;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.title h1 {
  margin-bottom: 0px;
}

.title h3 {
  margin-top: 3px;
}

.titleColour {
  color: rgb(185, 91, 19);
}

.blogContentText {
  margin-top: 20px;
  text-align: start;
}

.blogImage {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.blogImage img {
  max-width: 90%;
  height: auto;
}

footer a {
  padding: 5px;
  height: 20px;
}

/* Margin blog post  */

.exampleContainer {
  border: 1px dashed rgba(0, 0, 0, 0.363);
  background-color: #ffcaa2;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 60%;
  max-width: 100%;
  height: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.exampleContainer:hover {
  background-color: #ff9e55;
}

.exampleContainer p {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  align-self: start;
  justify-content: center;
  margin-top: 8px;
}

.exampleBorder {
  border: 1px solid rgba(0, 0, 0, 0.363);
  background-color: #ffdba2;
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.exampleBorder:hover {
  background-color: #fdbf5b;
}

.examplePadding {
  border: 1px dashed rgba(0, 0, 0, 0.363);
  background-color: #c0cf91;
  width: 85%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.examplePadding:hover {
  background-color: #b0cc5d;
}

.exampleContent {
  border: 1px solid rgba(0, 0, 0, 0.363);
  background-color: #7db6bf;
  width: 80%;
  height: 70%;
  align-items: center;
  justify-content: center;
}

.exampleContent:hover {
  background-color: #56b3c2;
}

.h3Style {
  text-decoration: underline;
  display: inline;
}

/* responsive */

@media screen and (max-width: 1024px) {
  .blogContent {
    grid-column: 1/4;
    width: 90%;
    margin: auto;
  }
}

@media screen and (max-width: 670px) {
  .mainContent h1,
  .mainContent h2 {
    font-size: 1em;
  }

  .pageContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 20% 40% 1fr;
    gap: 1px 1px;
    height: 98vh;
  }

  .mainContent {
    grid-column: 1/4;
    width: 90%;
    /* height: 90%; */
    /* margin: auto; */
  }

  .rightBar {
    display: none;
  }

  .blogListMini {
    display: initial;
    grid-row: 3/5;
    grid-column: 1/4;
    text-align: center;
    font-size: 1em;
  }

  .exampleContainer {
    width: 90%;
    height: 300px;
  }
  header h1 {
    width: 60%;
    font-size: 1.5em;
  }
  header a:nth-child(n + 2) {
    display: none;
  }
}
